<a href="https://colab.research.google.com/github/m-zayed5722/Miscellaneous-Projects/blob/main/DS_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone -q https://github.com/learnwithraghu/python-interview-question-de-ds-ai.git

In [3]:
%cd python-interview-question-de-ds-ai
!ls -lah

/content/python-interview-question-de-ds-ai
total 32K
drwxr-xr-x 5 root root 4.0K Oct  9 01:44 .
drwxr-xr-x 1 root root 4.0K Oct  9 01:44 ..
drwxr-xr-x 2 root root 4.0K Oct  9 01:44 generate_data
drwxr-xr-x 8 root root 4.0K Oct  9 01:44 .git
-rw-r--r-- 1 root root 2.8K Oct  9 01:44 hint_doc.md
-rw-r--r-- 1 root root 3.7K Oct  9 01:44 InterviewQuestion.md
-rw-r--r-- 1 root root 3.5K Oct  9 01:44 README.md
drwxr-xr-x 2 root root 4.0K Oct  9 01:44 solutions

In [4]:
%cd generate_data/
!ls

/content/python-interview-question-de-ds-ai/generate_data
card_access_logs.json	 generate_case_data.py
dining_transactions.csv  passenger_manifest.csv

In [20]:
%cd python-interview-question-de-ds-ai
!ls

/content/python-interview-question-de-ds-ai
generate_data  hint_doc.md  InterviewQuestion.md  README.md  solutions

In [5]:
!ls

card_access_logs.json	 generate_case_data.py
dining_transactions.csv  passenger_manifest.csv

In [8]:
import pandas as pd

# Read a CSV file
df = pd.read_csv("dining_transactions.csv")

# Display the first few rows
print(df.head())

  transaction_id passenger_id              item  amount            timestamp
0           T001         P001   Seafood Platter   45.99  2024-02-20 19:30:00
1           T002         P002  Vegetarian Pasta   28.50  2024-02-20 20:15:00
2           T004         P004             Steak   52.99  2024-02-20 20:00:00
3           T005         P005      Fish Special   38.99  2024-02-20 19:45:00

In [12]:
(df.isnull().sum() / len(df)) * 100

transaction_id    0.0
passenger_id      0.0
item              0.0
amount            0.0
timestamp         0.0
dtype: float64

In [9]:
# Read a CSV file
df2 = pd.read_csv("passenger_manifest.csv")

# Display the first few rows
print(df2.head())

  passenger_id             name cabin dining_preference  age nationality
0         P001     James Wilson  A123             Early   45     British
1         P002  Elena Rodriguez  B145              Late   32     Spanish
2         P003       Sarah Chen  A125             Early   28     Chinese
3         P004    Michael Brown  C201              Late   52    American
4         P005    Lisa Thompson  B147             Early   39    Canadian

In [14]:
(df2.isnull().sum() / len(df2)) * 100

passenger_id         0.0
name                 0.0
cabin                0.0
dining_preference    0.0
age                  0.0
nationality          0.0
dtype: float64

In [11]:
# Read a JSON file into a DataFrame
df3 = pd.read_json("card_access_logs.json")

# Show the first few rows
print(df3.head())

            timestamp passenger_id     location action
0 2024-02-20 19:00:00         P001        Cabin  entry
1 2024-02-20 19:00:00         P002        Cabin  entry
2 2024-02-20 19:00:00         P004        Cabin  entry
3 2024-02-20 19:00:00         P005        Cabin  entry
4 2024-02-20 20:00:00         P001  Dining Hall   exit

In [15]:
(df3.isnull().sum() / len(df3)) * 100

timestamp       0.0
passenger_id    0.0
location        0.0
action          0.0
dtype: float64

In [1]:
# Show the first ~2000 chars of the task doc
#!sed -n '1,150p' InterviewQuestion.md

In [5]:
from glob import glob
csvs  = glob("**/*.csv", recursive=True)
jsons = glob("**/*.json", recursive=True)
csvs, jsons

(['generate_data/dining_transactions.csv',
  'generate_data/passenger_manifest.csv'],
 ['generate_data/card_access_logs.json'])