<a href="https://colab.research.google.com/github/m-zayed5722/Miscellaneous-Projects/blob/main/DS_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone -q https://github.com/learnwithraghu/python-interview-question-de-ds-ai.git

In [2]:
%cd python-interview-question-de-ds-ai
!ls -lah

/content/python-interview-question-de-ds-ai
total 32K
drwxr-xr-x 5 root root 4.0K Oct 11 00:30 .
drwxr-xr-x 1 root root 4.0K Oct 11 00:30 ..
drwxr-xr-x 2 root root 4.0K Oct 11 00:30 generate_data
drwxr-xr-x 8 root root 4.0K Oct 11 00:30 .git
-rw-r--r-- 1 root root 2.8K Oct 11 00:30 hint_doc.md
-rw-r--r-- 1 root root 3.7K Oct 11 00:30 InterviewQuestion.md
-rw-r--r-- 1 root root 3.5K Oct 11 00:30 README.md
drwxr-xr-x 2 root root 4.0K Oct 11 00:30 solutions

In [3]:
%cd generate_data/
!ls

/content/python-interview-question-de-ds-ai/generate_data
card_access_logs.json	 generate_case_data.py
dining_transactions.csv  passenger_manifest.csv

In [ ]:
%cd python-interview-question-de-ds-ai
!ls

/content/python-interview-question-de-ds-ai
generate_data  hint_doc.md  InterviewQuestion.md  README.md  solutions

In [ ]:
!ls

card_access_logs.json	 generate_case_data.py
dining_transactions.csv  passenger_manifest.csv

In [4]:
import pandas as pd

# Read a CSV file
df = pd.read_csv("dining_transactions.csv")

# Display the first few rows
print(df.head())

  transaction_id passenger_id              item  amount            timestamp
0           T001         P001   Seafood Platter   45.99  2024-02-20 19:30:00
1           T002         P002  Vegetarian Pasta   28.50  2024-02-20 20:15:00
2           T004         P004             Steak   52.99  2024-02-20 20:00:00
3           T005         P005      Fish Special   38.99  2024-02-20 19:45:00

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  4 non-null      object
 1   passenger_id    4 non-null      object
 2   item            4 non-null      object
 3   amount          4 non-null      float64
 4   timestamp       4 non-null      object
dtypes: float64(1), object(4)
memory usage: 292.0+ bytes

In [5]:
(df.isnull().sum() / len(df)) * 100

transaction_id    0.0
passenger_id      0.0
item              0.0
amount            0.0
timestamp         0.0
dtype: float64

In [6]:
# Read a CSV file
df2 = pd.read_csv("passenger_manifest.csv")

# Display the first few rows
print(df2.head())

  passenger_id             name cabin dining_preference  age nationality
0         P001     James Wilson  A123             Early   45     British
1         P002  Elena Rodriguez  B145              Late   32     Spanish
2         P003       Sarah Chen  A125             Early   28     Chinese
3         P004    Michael Brown  C201              Late   52    American
4         P005    Lisa Thompson  B147             Early   39    Canadian

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   passenger_id       5 non-null      object
 1   name               5 non-null      object
 2   cabin              5 non-null      object
 3   dining_preference  5 non-null      object
 4   age                5 non-null      int64
 5   nationality        5 non-null      object
dtypes: int64(1), object(5)
memory usage: 372.0+ bytes

In [7]:
(df2.isnull().sum() / len(df2)) * 100

passenger_id         0.0
name                 0.0
cabin                0.0
dining_preference    0.0
age                  0.0
nationality          0.0
dtype: float64

In [8]:
# Read a JSON file into a DataFrame
df3 = pd.read_json("card_access_logs.json")

# Show the first few rows
print(df3.head())

            timestamp passenger_id     location action
0 2024-02-20 19:00:00         P001        Cabin  entry
1 2024-02-20 19:00:00         P002        Cabin  entry
2 2024-02-20 19:00:00         P004        Cabin  entry
3 2024-02-20 19:00:00         P005        Cabin  entry
4 2024-02-20 20:00:00         P001  Dining Hall   exit

In [12]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     20 non-null     datetime64[ns]
 1   passenger_id  20 non-null     object
 2   location      20 non-null     object
 3   action        20 non-null     object
dtypes: datetime64[ns](1), object(3)
memory usage: 772.0+ bytes

In [9]:
(df3.isnull().sum() / len(df3)) * 100

timestamp       0.0
passenger_id    0.0
location        0.0
action          0.0
dtype: float64

In [ ]:
# Show the first ~2000 chars of the task doc
#!sed -n '1,150p' InterviewQuestion.md

In [ ]:
from glob import glob
csvs  = glob("**/*.csv", recursive=True)
jsons = glob("**/*.json", recursive=True)
csvs, jsons

(['generate_data/dining_transactions.csv',
  'generate_data/passenger_manifest.csv'],
 ['generate_data/card_access_logs.json'])