<a href="https://colab.research.google.com/github/m-zayed5722/Miscellaneous-Projects/blob/main/LeetCode2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
strs = ["eat","tea","tan","ate","nat","bat"]
strs_list = [[]]

for i in range (len(strs)):
  found = False
  print (i)
  if i == 0:
    strs_list[0].append(strs[i])
  else:
    for j in range (len(strs_list)):
      if (sorted(strs[i]) == sorted(strs_list[j][0])):
        strs_list[j].append(strs[i])
        found = True
        break
    if found == False:
        new_list = []
        new_list.append(strs[i])
        strs_list.append(new_list.copy())

0
eat
1
tea
2
tan
3
ate
4
nat
5
bat
[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [12]:
strs2 = ["eat","tea","tan","ate","nat","bat"]
strs_list2 = [[]]
strs_list2[0].append(strs2[0])
strs_list2[0].append(strs2[1])

new_list2 = []
new_list2.append(strs2[2])
strs_list2.append(new_list2)
print(strs_list2[0][1])
print(strs_list2)

tea
[['eat', 'tea'], ['tan']]

In [ ]:
#Input: strs = ["eat","tea","tan","ate","nat","bat"]

#Output: [["bat"],["nat","tan"],["ate","eat","tea"]]