<a href="https://colab.research.google.com/github/m-zayed5722/Miscellaneous-Projects/blob/main/LeetCode2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#reference

# new_list.copy()

def sort_string(s):
    return ''.join(sorted(s))

from collections import defaultdict
strs = ["eat","tea","tan","ate","nat","bat"]

groups = defaultdict(list)

for word in strs:
  key = sort_string(word)
  groups[key].append(word)

print(list(groups.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [1]:
def lengthOfLongestSubstring(s):
    window = set()
    left = 0
    longest = 0

    for right in range(len(s)):
        while s[right] in window:
            window.remove(s[left])
            left += 1
        window.add(s[right])
        longest = max(longest, right - left + 1)

    return longest

In [2]:
from collections import deque

def levelOrder(root):
    if not root:
        return []
    q = deque([root])
    levels = []

    while q:
        size = len(q)
        level = []
        for _ in range(size):
            node = q.popleft()
            level.append(node.val)
            if node.left: q.append(node.left)
            if node.right: q.append(node.right)
        levels.append(level)

    return levels

In [ ]:
#semantic similarity code

from typing import List, Dict
import numpy as np
import pandas as pd



def label_from_score(score: float) -> str:
    if score > 0.80:
        return "High"
    elif score > 0.60:
        return "Medium"
    else:
        return "Low"

def evaluate_semantic_similarity(
    data: List[Dict],
    model_name: str = "all-MiniLM-L6-v2",
    batch_size: int = 64,
    use_fallback: bool = False
) -> pd.DataFrame:
    """
    Returns DataFrame with columns: id, similarity_score, label
    If use_fallback=True, uses sklearn TfidfVectorizer (offline) instead of sentence-transformers.
    """
    # Your implementation goes here
    pass

In [ ]:
from typing import List, Dict
import numpy as np
import pandas as pd


sample_data = [
    {"id": 1, "model_output": "Paris is the capital of France.", "reference": "The capital city of France is Paris."},
    {"id": 2, "model_output": "Tokyo is in Japan.", "reference": "Japan's capital city is Tokyo."},
    {"id": 3, "model_output": "Beijing is the capital of China.", "reference": "China's capital is Beijing."},
    {"id": 4, "model_output": "I love apples and bananas.", "reference": "I enjoy eating fruit like apples and bananas."},
    {"id": 5, "model_output": "The sky is blue.", "reference": "Water is wet."},
    {"id": 6, "model_output": "", "reference": "This has no answer."},
]

def label_from_score(score: float) -> str:
    if score > 0.80:
        return "High"
    elif score > 0.60:
        return "Medium"
    else:
        return "Low"

def evaluate_semantic_similarity(
    data: List[Dict],
    model_name: str = "all-MiniLM-L6-v2",
    batch_size: int = 64,
    use_fallback: bool = False
) -> pd.DataFrame:
    """
    Returns DataFrame with columns: id, similarity_score, label
    If use_fallback=True, uses sklearn TfidfVectorizer (offline) instead of sentence-transformers.
    """
    # 1) Extract texts and ids
    # 2) Preprocess / normalize if needed
    # 3) Compute embeddings in batches (or TF-IDF fallback)
    # 4) Compute pairwise cosine similarity for aligned pairs (only diagonal)
    # 5) Build DataFrame and return
    raise NotImplementedError

In [ ]:
import bisect

arr = [1, 3, 5, 7, 9, 11]
target = -1

# Find the insertion point
index = bisect.bisect_left(arr, target)

# Check if the target is actually in the array
if index < len(arr) and arr[index] == target:
    print(f"Found at index {index}")
else:
    print("Not found")

Not found

In [ ]:
arr = [1, 3, 5, 7, 9, 11]
target = -1

# Find the insertion point
index = bisect.bisect_left(arr, target)
print (index)

0

In [ ]:
# Two Sum Variant
# Given an array of integers and a target, return all unique pairs that sum to target.

arr_int = [2, 7, 11, 15, -2, 9]
target=9
arr_int2 = []
for i in range(len(arr_int)):
  for j in range(i+1, len(arr_int)):
    if (i!=j) and ((arr_int[i]+arr_int[j])==target):
      arr_int2.append((arr_int[i],arr_int[j]))

print (arr_int2)


#Output: [(2,7), (11,-2)]

[(2, 7), (11, -2)]

In [ ]:
# Product of Array Except Self
# Return array where each element = product of all others.

#Input: [1,2,3,4]

#Output: [24,12,8,6]
# Constraint: No division, O(n) time.

arr_int = [1,2,3,4]
arr_int2 = []
total = 1
for i in range(len(arr_int)):
  total = 1
  for j in range(len(arr_int)):
    if i!=j:
      total = total * arr_int[j]
  arr_int2.append(total)
print (arr_int2)

[24, 12, 8, 6]

In [ ]:
from collections import defaultdict
strs = ["eat","tea","tan","ate","nat","bat"]

groups = defaultdict(list)

for word in strs:
  key = ''.join(sorted(word))  # O(K log K)
  groups[key].append(word)

print(list(groups.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [ ]:
#n^2 * k solution (TLE)

from collections import Counter
class Solution:
    def groupAnagrams(self, strs: List[str]) -> List[List[str]]:
        strs_list = [[]]
        for i in range (len(strs)):
            found = False
            if i == 0:
                strs_list[0].append(strs[i])
            else:
                for j in range (len(strs_list)):
                    if (Counter(strs[i]) == Counter(strs_list[j][0])):
                        # Counter(strs[i]) == Counter(strs_list[j][0])
                        strs_list[j].append(strs[i])
                        found = True
                        break
                if found == False:
                    new_list = []
                    new_list.append(strs[i])
                    strs_list.append(new_list.copy())
        return strs_list

In [ ]:
#dict solution
strs3 = ["eat","tea","tan","ate","nat","bat"]

sorted_str = ''.join(sorted("hello"))
print(sorted_str)  # 'ehllo'

ehllo

In [ ]:
def sort_string(s):
    return ''.join(sorted(s))
sort_string("loasdfhsdhsdaaa")

'aaaadddfhhlosss'

In [ ]:
strs = ["eat","tea","tan","ate","nat","bat"]
strs_list = [[]]

for i in range (len(strs)):
  found = False
  print (i)
  if i == 0:
    strs_list[0].append(strs[i])
  else:
    for j in range (len(strs_list)):
      if (sorted(strs[i]) == sorted(strs_list[j][0])):
        strs_list[j].append(strs[i])
        found = True
        break
    if found == False:
        new_list = []
        new_list.append(strs[i])
        strs_list.append(new_list.copy())

0
eat
1
tea
2
tan
3
ate
4
nat
5
bat
[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [ ]:
strs2 = ["eat","tea","tan","ate","nat","bat"]
strs_list2 = [[]]
strs_list2[0].append(strs2[0])
strs_list2[0].append(strs2[1])

new_list2 = []
new_list2.append(strs2[2])
strs_list2.append(new_list2)
print(strs_list2[0][1])
print(strs_list2)

tea
[['eat', 'tea'], ['tan']]

In [ ]:
#Input: strs = ["eat","tea","tan","ate","nat","bat"]

#Output: [["bat"],["nat","tan"],["ate","eat","tea"]]